div.field([formGroup]="fieldForm")
  //- button.circular.ui.icon.button
  //-   i.icon.remove((click)="remove()")
  div.ui.buttons(*ngIf="!stage_switch")
    button.ui.button((click)="remove()") Cancel
    div.or
    button.ui.button((click)="nextStage()") Next
  div.ui.buttons(*ngIf="stage_switch")
    button.ui.button((click)="remove()") Cancel
    div.or
    button.ui.button((click)="backStage()") Back
  label(*ngIf="!stage_switch") {{fieldnumber}}. Custom Field
  div(*ngIf="!stage_switch")
    label Field Name {{fieldname.value}}
    input.form-control(type='text' formControlName='field_name')
  label(*ngIf="stage_switch") {{fieldnumber}}. {{fieldname.value}}
  div(*ngIf="stage_switch")
    label Field Value
    input.form-control(type='text' formControlName='field_value')
