/*button.circular.ui.icon.button
{
  position: absolute;
  right: 0px;
}*/

/*div.ui.buttons
{
  position: absolute;
  right: 0px;
}*/





button.ui.icon.button.circular
{
  margin-bottom: 10px;
  position: absolute;
  right: 0px;
}
