div.ui.container
  h1 ACM Dynamic Form
  div.ui.four.item.menu.inverted
    a.item(routerLink='/entry' routerLinkActive='inactive') Home
    a.item(routerLink='/entry' routerLinkActive='active') Entry
    a.item(routerLink='/entry' routerLinkActive='inactive') Search
    a.item(routerLink='/entry' routerLinkActive='inactive') Table
  router-outlet
