div.ui.container
  h1 ACM Dynamic Form Demostration
  div.ui.four.item.menu.inverted
    a.item(routerLink='/home' routerLinkActive='active') Home
    a.item(routerLink='/entry' routerLinkActive='active') Entry
    a.item(routerLink='/search' routerLinkActive='active') Search
    a.item(routerLink='/table' routerLinkActive='active') Table
  router-outlet
